.container.text-center
	.breaker(id="breaker1")
		h1 Welcome to our demo
		h3 Scroll down
	.breaker(id="breaker2")
		hr
		h1 iPhone:
		.icon-container(id="iphone")
	.breaker(id="breaker3")
		hr
		h1 Apple:
		.icon-container(id="apple")
	.breaker(id="breaker4")
		hr
		h1 Letter:
		.icon-container(id="letter")
	.breaker(id="breaker4")
		hr