html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		// bower:css
		// endinject
		// inject:css 
		// endinject
		// bower:js
		// endinject
		// inject:js 
		// endinject
	body
		include default
